services:

  db:
    image: postgres:13.2
    ports:
      - "5432:5432"
    command: [ "postgres", "-c", "log_statement=all", "-c", "log_destination=stderr" ]
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      interval: 1s
      retries: 20
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - database-data:/var/lib/postgresql/data
  
  alembic:
    build:
      context: .
    entrypoint: ["poetry", "run", "alembic"]
    command: ["upgrade", "head"]
    depends_on:
      db:
        condition: service_healthy


    
  redis:
    image: redis:6.2.4
    ports:
      - "6385:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13.7-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3

  # prometheus:
  #   image: prom/prometheus
  #   container_name: prometheus
  #   command:
  #     - "--config.file=/etc/prometheus/prometheus_config.yml"
  #   ports:
  #     - "9090:9090"
  #   restart: unless-stopped
  #   volumes:
  #     - ./prometheus:/etc/prometheus

  app:
    build: .
    ports:
      - "8001:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

volumes:
  database-data:
    driver: local
